

.half{
    width:50%;
    color:#fff;
    padding: 10px;
    margin-left: 50px;
    
}

.bookingForm{
    width: 60%;
    background-color: #ffff;
    margin: 0 auto;
    padding: 20px;
    color: gray;
}