
body{
    background: linear-gradient(rgba(0,0,0,.5),rgba(238, 224, 224, 0.075)), url('https://iili.io/2uKyEg.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}



.img:hover{
    border: 2px solid yellow;
    border-radius: 17px;
}
.logo{
    width: 100px;
    color: azure;
    
}
.ma{
    margin-left: 100px;
}