
.bg{
    background-image: url('https://iili.io/2uKyEg.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}


.img:hover{
    border: 2px solid yellow;
    border-radius: 17px;
}




.logo{
    width: 100px;
    color: azure;
    
}
.ma{
    margin-left: 100px;
}