.content-area{
    width:500px;
    margin:0 auto;
}
.form-area{
    width:500px;
    margin:0 auto;
    border:1px solid gray;
    padding:30px;
    color:#fff
}
.forgate-pass{
    margin-left: 150px;
}